@font-face {
  font-family: Palatino-bold italic;
  src: local("../fonts/PALABI.TTF"),
       local("../fonts/PALABI.TTF),
       url(../fonts/PALABI.TTF) format("opentype");
}
@font-face {
  font-family: Palatino-bold;
  src: local("../fonts/PALAB.TTF"),
       local("../fonts/PALAB.TTF"),
       url(../fonts/PALAB.TTF) format("opentype");
}
@font-face {
  font-family: Palatino-italic;
  src: local("../fonts/PALAI.TTF"),
       local("../fonts/PALAI.TTF"),
       url(../fonts/PALAI.TTF) format("opentype");
}
@font-face {
  font-family: Palatino;
  src: local("../fonts/PALA.TTF"),
       local("../fonts/PALA.TTF"),
       url(../fonts/PALA.TTF) format("opentype");
}