@media only screen and (max-width: 768px){
	.car__img{
		top: 150px;
	}
	.gears{
		top: 400px;
	}
	.contacts{
		flex-direction: column;
	}
	.cost__block{
		margin-top: 50px;
	}
	.line{
		top: 250px;
	}
	.location__mark {
	font-size:15px;
	}
}

@media only screen and (max-width: 425px){
	.lined{
		display: none;
	}
	.online{
		display: none;
	}
	.gears{
		top: 700px;
		left: 100px;
	}
	.footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.location__mark {
		font-size:15px;
	}
	.online__fixed{
		display: block;
	}
	.wrapper{
		padding-top: 400px;
	}
	.contacts{
		flex-direction: row;
	}
	header .location{
		position: absolute;
		top: -40px;
		right: 0;
	}
	.line{
		top: 250px;
	}
	.gears{
		top: 230px;
	}
	.car__img{
		top: 20px;
	}
	.cost__item{
		margin-top: 30px;
	}
	footer .location{
		margin: 0 auto;
	}
	.phone{
		text-align: center;
	}
	.services__item{
		margin: 20px auto;
	}
	.services__block{
		display: flex;
		justify-content: center;
		align-content: center;
		text-align: center;
	}
	.services__item{
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
}
@media only screen and (max-width: 360px){
	.what__car{
		margin-top: 180px;
	}
	header .location__mark{
		font-size: 11px;
	}
	header{
		background: #000;
	}
}